.head{
    background-color: #f9f9f9;
    color: rgb(15, 1, 1); 
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
  }

.label{color: rgb(2, 24, 13);
text-align:right;
text-shadow: 2px;
font-weight: bold;
fill: rgb(146, 11, 11);
font-weight: bold;
font-family: 'Times New Roman', Times, serif;

}

.input{
  padding: 0.5rem;
  border: 1rem;
  size: 2rem;
  width: 100%;
  background-color:#3e8e41;
  font-family: 'Times New Roman', Times, serif;
  text-align: right;

}

.title{
    background-color: #3e8e41;
    color: rgb(32, 231, 18); 
    padding: 20px; 
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    margin: 10px;
    box-sizing: border-box;
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    padding-left: 3rem;
    padding-right: 3rem;

    }
  .submi{
    padding-left: 3rem;
    padding-right:3rem;
    padding-bottom:1rem;
    padding-top:1rem;
    margin-top: 1rem;
    box-shadow: 2rem;
    background-color: #3e8e41;
    border-color: rgb(64, 12, 24);
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
    -webkit-text-fill-color:#fff;
    border-style: outset;
    font-family: 'Times New Roman', Times, serif;
   }

    
